$color-history: yellow
$color-biology: green
$color-geography: turquoise

body
    font-family: 'Spectral', serif


.filed
    width: 60%
    margin: auto
    position: relative
    .cards
        text-transform: uppercase

        div
            position: absolute
            text-align: center
            border: 1px solid black

        .square

            height: 200px
            width: 200px

        .rectangle-v
            height: 200px
            width: 100px

        .rectangle-h
            height: 100px
            width: 200px

    .dicePlaying
        position: absolute
        top: 400px - 64px
        left: 500px - 64px

        img
            display: none

    .rollDice
        position: absolute
        background: #ffbd34
        top: 220px
        left: 220px
        width: 560px
        text-align: center

        span
            text-transform: uppercase
            color: yellow

    .chips img
        width: 50px
        position: absolute
        display: block
    .secondPlayer
        left: 150px
    .thirdPlayer
        top: 150px
    .fourthPlayer
        top: 150px
        left: 150px



.history
    background-color: $color-history

.biology
    background-color: $color-biology

.geography
    background-color: $color-geography



