<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
        <link rel="icon" href="/static/image/icon.png">
    <title>Создание игры</title>
</head>
<body>
    <form method="post">
          <fieldset>
                <legend>Параметры игры</legend>
                <label for="number_of_players">Количество игроков (2-4)</label><input type="number" min="2" max="4" value="2" id="number_of_players" name="number_of_players">
          </fieldset>
    <input type="submit" value="Создать игру">
    </form>
</body>
</html>